//baseWidth

$main-fonts: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", sans-serif;

@font-face {
    font-family: "Hiragino Kaku Gothic ProN";
    src: url("/src/_public/assets/fonts/HIRAKAKUPRON-W6.OTF");
    font-weight: 600;
}

@font-face {
    font-family: "Hiragino Kaku Gothic ProN";
    src: url("/src/_public/assets/fonts/HIRAKAKUPRON-W3.OTF");
    font-weight: 300;
}

//color common
