<header class="c-header">
  <div class="c-header__logo">
    <img src="assets/img/logo.png" alt="Logo IST">
    <span>IST</span>
    <h1>
      総合建設コンサルタント
    </h1>
  </div>
  <nav class="c-gnav">
    <ul class="c-gnav__list">
      <% if (typeof linklists != 'undefined') { %>
        <% linklists.main && linklists.main.forEach(link => { %>
          <li class="c-gnav__item">
            <a class="c-gnav__link" <% if (link.current || link.active) { %><% } %> href="<%= link.url %>"><%= link.title %></a>
            <% if (link.links) { %>
              <ul class="c-gnav__sublist">
                <% link.links.forEach(child_link => { %>
                  <li>
                    <a class="c-gnav__link" <% if (child_link.current) { %><% } %> href="<%= child_link.url %>"><%= child_link.title %></a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </nav>
</header>
